/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-61vgkxin57] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html[b-61vgkxin57], body[b-61vgkxin57] {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a[b-61vgkxin57] {
  color: #0077cc;
}

.btn-primary[b-61vgkxin57] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-61vgkxin57], .nav-pills .show > .nav-link[b-61vgkxin57] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-61vgkxin57] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-61vgkxin57] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-61vgkxin57] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-61vgkxin57] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-61vgkxin57] {
  background-color: #fff;
  color: white;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}

.wrapper[b-61vgkxin57] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content[b-61vgkxin57] {
  flex: 1;
  padding-bottom: 50px; 
}
